.Login-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(0, 188, 212);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Login-form {
    padding: 20px;
    background: #fff;
}
.Login-icon {
    display: inline-block; 
    width: 60px; 
    height: 60px;
    background: rgb(255, 64, 129);
    border-radius: 50%;
}
.Login-title {
    text-align: center; 
    font-weight: normal;
    margin: 5px 0;
}