.LinkManage-item-wrapper {
    display: flex;
    padding: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.LinkItem-card {
    width: 45%;
    position: relative;
}
.LinkItem-card-title {
	font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    color: #000;
}
.LinkItem-card-text {
    line-height: 2;
    color: #2c2c2c !important;
    max-height: 145px;
    font-size: 16px !important;
    margin-bottom: 52px;
}
.LinkItem-card-actions {
    position: absolute !important;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}
.AuditLink-form {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.AuditLink-form-item {
    display: flex;
    width: 100%;
}